
h1 {
	font-size: 50px;
	margin-top: 20px;
	margin-bottom: 0px;
}

header {
	margin: 30px auto;
	max-width: 900px;
}

header img {
	margin: 0;
}

section.heading {
	margin: 0;
	justify-content: left;
	align-items: left;
	width: 350px;
	height: 260px;
	margin-bottom: 0;
}
