body {
  font-family: rubik, sans-serif;
  text-align: center;
  font-size: 14px;
}

a:hover {
  color: blueviolet;
  text-decoration: underline;
}

.wrapper {
  margin: auto;
 width: calc(100vw - 50px);
  max-width: 900px;
}

h1,h2{
  font-size: 33px;
}

h3,h4,h5,h6 {
  font-size: 20px;
}

header {
  margin: 30px auto;
}

header img{
  width: 250px;
  margin: 0 0 0 auto;
  padding-right: 20px;
}

div.contact-details{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  line-height: 25px;
  margin-bottom: 30px;
}

article.bio {
  margin: auto;
  margin-bottom: 60px;
}

article.experience {
  margin:auto;
}

article.experience li {
  margin-bottom: 60px;
}

article.skills {
  margin: auto;
  margin-bottom: 60px;
}

aside {
  margin: auto;
  padding-bottom: 30px;
}

footer {
  margin: auto;
}
